@use "_vars" as *
    
.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    width: 100%
    background-color: $dark2

.card
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 40rem
    box-shadow: 3px 3px 20px 15px $dark1
    border-radius: 2rem
    padding: 3rem 7rem
    background-color: $dark4
    
    *
        color: $light1

    form
        display: flex
        flex-direction: column
        gap: 2rem
        width: 100%

        div
            display: flex

        input
            outline: none
            border: 1px solid $dark1
            border-radius: 0.5rem
            padding: 1rem 1.5rem
            font-size: $font-medium
            background: none
            width: 100%

        input + label
            position: absolute
            padding: 1rem 1.5rem
            font-size: $font-medium
            pointer-events: none
            transition: all 0.3s ease
            display: block

        input[value]:not([value='']) + label
            font-size: 1rem
            padding: 0 1rem
            margin-top: -1.5rem

        input:focus + label
            font-size: 1rem
            padding: 0 1rem
            margin-top: -1.5rem

        button
            font-size: $font-medium
            background-color: $aurora4
            border-radius: 0.5rem
            color: $dark1
            font-weight: 700
            padding: 1rem
            cursor: pointer
            border: none

            &:focus
                outline: 2px solid $dark1
                outline-offset: 0.5rem
        
        .password
            display: flex
            width: 100%
            overflow: hidden
            
            border: 1px solid $dark1
            border-radius: 0.5rem

            input
                border: none

            button
                padding: 0
                color: $light3
                position: relative
                display: inline-block
                width: auto
                background: none
                align-self: flex-end
                align-self: center
                font-size: $font-small
                height: 100%
                background: $dark4
                padding-right: 1rem
                user-select: none

                &:hover
                    color: $light2

                &:focus
                    outline: none
                    outline-offset: 0

    .change
        font-size: $font-medium

        a
            color: $frost2